<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1> Database Data to EJS playground !</h1>
    <br><br>

    <div>
      <h3> Restaurant Data </h3>
      <p><%= restr.name %></p>
      <img src=<%= restr.logo_url %> />
      <p><%= restr.address %></p>
      <p> <%= restr.phone_number %></p>
      <p> open time: <%= restr.open_time %> </p>
      <p> close time: <%= restr.close_time %> </p>
    </div>

    <div>
      <h3> Menus Data </h3>
      <p> <%= menus.name  %> </p>
      <p> <%= menus.description  %> </p>
      <p> <%= menus.restaurantid %> </p>
    </div>

    <div>
      <h3> Items Data </h3>
      <p> <%= items[0].name %></p>
      <p> <%= items[1].name %></p>
      <p> <%= items[2].name %></p>
    </div>


  </body>
</html>
