<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/orders.js"></script>

    <title>Gio's Cafe - Orders</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href=""><img src="https://cdn.websites.hibu.com/3446c3f773fc4983b12995f3adab4a82/dms3rep/multi/mobile/Cafe-Gio-logo.png"></a>
      <div class="navbar-nav mr-auto">
        <span>Gio's Cafe<br>123-456-7890<br>201-Demacia St. BC</span>
      </div>
      <div class="navbar-nav">
        <span class="hours navbar-right">Restaurant hours<br>Mon - Fri 7:00 ~ 21:00<br>Weekends 9:00 ~ 19:00</span>
      </div>
    </nav>
    <div class="container orders">
      <div class="row">
        <div class="col-4 border-left text-center new-orders">
          <h2>New</h2>
        </div>
        <div class="col-4 border-left text-center in-progress-orders">
          <h2>In Progress</h2>
          <div class="order">
            <div class="order-head order-contact">
              <span><%= order[1].id %></span>
              <span><%= order[1].name %></span>
              <span><%= order[1].phone %></span>
            </div>
            <div class="order-details">
              <div class="order-items">
                <ul>
                  <li><%= order[1].item[0].qty %> x <%= order[1].item[0].name %></li>
                  <li><%= order[1].item[1].qty %> x <%= order[1].item[1].name %></li>
                  <li><%= order[1].item[2].qty %> x <%= order[1].item[2].name %></li>
                </ul>
                <p>
                  <span>Comments:</span><br />
                  <%= order[1].notes %>
                </p>
              </div>
              <form class="order-buttons">
                <input type="button" class="btn btn-primary btn-sm btn-round complete-order" value="Complete" />
                <input type="button" class="btn btn-danger btn-sm btn-round cancel-order" value="Cancel" />
              </form>
            </div>
          </div>
        </div>
        <div class="col-4 border-left border-right text-center completed-orders">
          <h2>Ready for Pickup</h2>
          <div class="order">
            <div class="order-head order-contact">
              <span><%= order[2].id %></span>
              <span><%= order[2].name %></span>
              <span><%= order[2].phone %></span>
            </div>
            <div class="order-details">
              <div class="order-items">
                <ul>
                  <li><%= order[2].item[0].qty %> x <%= order[2].item[0].name %></li>
                  <li><%= order[2].item[1].qty %> x <%= order[2].item[1].name %></li>
                  <li><%= order[2].item[2].qty %> x <%= order[2].item[2].name %></li>
                </ul>
                <p>
                  <span>Comments:</span><br />
                  <%= order[2].notes %>
                </p>
              </div>
              <form class="order-buttons">
                <input type="button" class="btn btn-primary btn-sm btn-round pickup-order" value="Confirm" />
                <input type="button" class="btn btn-danger btn-sm btn-round cancel-order" value="Cancel" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
